
*{
	margin: 0;
	padding: 0;
	font-family: 'Source Code Pro', monospace;
	}
.wrapper{
		min-height: 200vh;
		width: 100%;
		background-color: #2A354A;
		background-position: center;
		background-size: cover;
		position: relative;
		}
h1{
	font-size: 36px;
	font-weight: 600;
	}
.input-Box{
	color: A50000;
	text-align: center;
	}


